@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'); /* again */

hello {
  background-color: #606613; /* 🥽 */
}

:root {
  --white: #eee;
  --lesswhite: #abc;
  --grey: #999;
  --black: #111;
  --c1: hsl(160, 71%, 45%); /* puzzls colours for now (change later?) */
  --c1-light: hsl(160, 85%, 72%);
  --c1-dark: hsl(160, 90%, 21%);
  --c1-transparent: 160, 71%, 45%;
  --c2: hsl(15, 71%, 45%);
  --c2-light: hsl(15, 85%, 72%);
  --c2-dark: hsl(15, 90%, 21%);
  --c2-transparent: 15, 71%, 45%;
  --selection: #9cf;
}

* {
  font-family: Roboto;
  text-align: center;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--selection);
  animation: spin 0.1s linear infinite; /* this doesn't do anything :( */
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto Mono";
  font-size: 14px;
  text-align: center;
}

table {
  margin: 0 auto;
}

aside th {
  min-height: 2em;
  min-width: 2em;
  padding: 0.7em;
  border-radius: 100%;
  background-color: var(--white);
  transition: all 0.4s ease-out;
}

aside td {
  min-height: 2em;
  min-width: 2em;
  padding: 0.7em;
  border-radius: 1.25em;
  background-color: hsla(var(--c1-transparent), 0.2);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

aside td:hover:not(.disabled) {
  filter: saturate(100%) brightness(120%);
}

aside td[disabled], td.disabled, td:disabled {
  padding: calc(0.7em - 2px);
  border: 2px solid var(--c1-light);
  background-color: var(--white);
  color: transparent;
  /* background: repeating-linear-gradient(45deg, var(--c1-light), var(--c1-light) 5px, var(--white) 5px, var(--white) 10px); */ /* no */
}

aside td.today {
  background-color: var(--c1);
}

aside div.box {
  position: absolute;
  display: block;
  content: "";
  height: 2.8em;
  width: 2.8em;
  border: 2px solid var(--black);
  pointer-events: none; /* important so that the moving boxes don't block the cursor */
  transition: all 0.4s ease-out;
}

aside div.box2 {
  border: 2px solid hsla(var(--c1-transparent), 0.4);
}

aside {
  width: 23em; /* weird number that works */
  margin: 0;
  padding: 1em;
  float: left;
  clear: both;
  position: relative;
}

main {
  display: inline-block;
  margin: 0;
  padding: 1em;
}

input[type=button], button {
  display: inline-block;
  margin: 0 0.8em;
  padding: 0.5em 0.8em;
  border: 2px solid var(--white);
  border-radius: 0.5em;
  background-color: var(--white);
  transition: 0.3s all ease-out;
}

input[type=button]:hover, button:hover {
  background-color: var(--grey);
  border: 2px solid var(--grey);
  
}

/* everything after this is for fun */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

spin, .spin, *[spin] {
  animation: spin 0.1s linear infinite;
}